@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #a78bfa; /* Purple-500 */
    --color-secondary: #818cf8; /* Indigo-400 */
    --color-accent: #38b2ac; /* Teal-500 */
    --color-text: #e2e8f0; /* Slate-200 */
    --color-subtext: #94a3b8; /* Slate-400 */
    --color-background: #1a202c; /* Dark Blue-Gray */
    --color-card: #2d3748; /* Darker Blue-Gray */
    --color-border: #4a5568; /* Gray-600 */
  }

  body {
    @apply bg-background text-text font-sans;
  }

  /* Custom scrollbar for course inputs */
  #course-inputs::-webkit-scrollbar {
    width: 8px;
  }

  #course-inputs::-webkit-scrollbar-track {
    background: var(--color-card);
    border-radius: 10px;
  }

  #course-inputs::-webkit-scrollbar-thumb {
    background: var(--color-primary);
    border-radius: 10px;
  }

  #course-inputs::-webkit-scrollbar-thumb:hover {
    background: var(--color-secondary);
  }
}
